.page-header {
    background-color: lightblue;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    font-family: 'Lobster', cursive;
    text-align: left;
}

.top-menu {
    color: #ffffff;
    float: right;
    font-size: 10pt;
    margin-right: 2px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}


.title{
    padding: 30px 20px 20px 40px;
    color: lightseagreen;
    font-style: bold;
    font-family: 'Lobster', cursive;
    font-size: 25pt;
    
}

.greeting2{
    color: white;
    padding: 30px 20px 20px 30px;
    font-style: italic;
    font-family: 'Lobster', cursive;
}

.greeting3{
    padding: 30px 20px 20px 30px;
    color: white;
    font-family: 'Lobster', cursive;
}


.post-form textarea,
.post-form input {
    width: 100%;
}

.pencil{
    color: mediumaquamarine;
    font-size: small;
    font-family:'Courier New', Courier, monospace;

}

.user{
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: gray;
}

/* NEW STUFF */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

/*carousel style*/
.carousel.slide{
    max-width: 780px;
    
    margin: auto;
    padding-top: 50px;
}

.carousel-inner{
    max-width: 100%;
    max-height: 440px;
    object-fit: scale-down;
}

/*image card*/

.card{
    background: lightgreen;
    width: 350px;
    padding: 3rem;
}
